*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
    color: #383838;
    background-color: #f7f3f0;
    overflow-x: hidden;
}
.grid-system{
    width: 1100px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
    font-family: "Open Sans Condensed",sans-serif;
    text-transform: uppercase;
}
h1{
    color: #fff;
    font-size: 60px;
}
h3,h4,h5{
    color: #131313;
    line-height: 1.25em;
}
h3{
    font-size: 26px;
    margin: 12px 0;
}
h4{
    font-size: 26px;
    margin: auto 0;
}
h5{
    font-size: 18px;
    line-height: 1.25em;
    margin: auto 0;
}
/* menu mobile */
.menu-mobile{
    width: 100%;
    background-color: #fff;
    display: none;
    overflow: hidden;
    transition: all .5s ease;
    border-top: 0.5px solid rgb(192, 192, 192);
}
.menu-mobile a{transition: all .3s ease;}
.menuActive{font-size: 18px!important;}
.md.hydrated{transition: all .5s ease;cursor: pointer;}
.menu-mobile-drop{
    width: 86%;
    margin: 0 auto;
    padding: 34px 0;
}
.l-items-mn,.menu-mb-ch,.menu-mobile-items{margin: 0;padding: 0;}
.menu-mb-item {margin: 0;display: flex;align-items: center;justify-content: space-between;position: relative;}
.active-icon{transform: rotate(90deg);}
.menu-mb > .l-items-mn{margin: 5px 0;}
/* header */
.header-pc{
    height: 115px;
    background-color: #fff;
    width: 100%;
    display: inline-flex;
    position: relative;
}
.header-sticky{
    background-color: #fff;
    width: 100%;
    display: inline-flex;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50px);
    position: fixed;
    z-index: 100000;
    padding: 10px 0;
    transition: all .5s ease;
    
}
.header-sticky .img{height: unset;}
.header-sticky  .dr-lastChild{
    right: 100%;
    left: unset;
}
.header-sticky .lastChild a span{order: 2;}
.header-sticky .lastChild .md.hydrated{transform: rotate(180deg);}
.active{transform: translateY(0);opacity: 1;pointer-events: all;}
.header-sticky-header .img img{width: 176px;height: 36px;}
.header,.header-sticky-header{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: unset;
    transition: all .3s ease;
}
a:hover span , .menu-mobile a:hover ,.onPage ,.sub-menu li:hover > a ,.menu-bar:hover .md.hydrated {
    color: #c74817!important;
    transition: all .3s ease;
}
.img{ height: 48px;}
.img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.top-menu{
    height: 100%;
    margin-left: auto;
}
li{
    list-style: none;
    margin: 0 28px;
    height: 100%;

}
.menu{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;

}
.menu-bar {
    font-size: 30px;
    display: flex;
    align-items: center;
    display: none;
}
li:first-child{margin-left: 0;}
li.menu-item a{
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 15px;
    letter-spacing: .15em;
    position: relative;
    justify-content: space-between;
}

/* drop menu */
.drop-menu,.drop-menu-child{
    position: absolute;
    background-color: #fff;
    width: 230px;
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
li.menu-item:hover .drop-menu{
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
ul.sub-menu{ padding: 22px 0;}
.sub-menu li{padding: 0 32px;margin: 0;position: relative;}
.sub-menu li a{display: block;margin: 1px 0;font-size: 14px;transition: all .2s ease;display: flex;justify-content: space-between;align-items: center;}
.drop-menu-child{
    position: absolute;
    left: 100%;
    top: -35px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
.hasMenuChild:hover .drop-menu-child{
    opacity: 1;
    pointer-events: all;
}
.shopping-cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 24px;
}
.bx{
    line-height: unset!important;
    font-size: 23px;
}
.shop-cart-icon{
    margin-right: 24px;
    height: 100%;
}
.icon{ height: 100%;}
.icon-basket{
    display: flex;
    position: relative;
}
.shop-cart-icon a{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.in-cart ul{margin-bottom: 0;}
.in-cart{top: 100%;right: 0;}
.in-cart p{font-size: 15px;color: unset;margin-bottom: 0;color: #383838;}
.shop-cart-icon:hover .in-cart{opacity: 1;transform: none;pointer-events: all;}
.shop-cart-icon a:hover .basket-count span{color: unset!important;}
.basket-count{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    font-size: 11px;
    line-height: 14px;
    display: block;
    text-align: center;
    position: absolute;
    top: 5px;
    right: -5px;
    background: #c74817;
    color: #fff;
    font-family: "Open Sans Condensed",sans-serif;
    text-align: center;
    font-weight: 700;
    line-height: 14px;
    transition: .25s ease-out;
}
.shop-cart-button a{
    padding: 10px 37px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(211, 168, 99);
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    line-height: 28px;
    letter-spacing: .15em;
    outline: 0;
    transition: all .3s ease;
}
.shop-cart-button a:hover{background-color:rgb(197, 151, 77);}
.shop-cart-button a:hover span{ color: unset!important;}
.menu-bar .md.hydrated {transition: all .3s ease;cursor: pointer;}
/* banner */
.banner{
    width: 100%;
    height: 355px;
    background: url(img/honeyImg/honeyImg/BlogMasonry.jpg) top center / cover no-repeat;
}
.banner-text{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}
/* container */
.container{ padding: 97px 0 152px;}
.row{  margin: 0 -15px;}
.row-container{position: relative;height: 1400px;}
.box-margin{margin-bottom:20px;padding: 0 10px;width: calc(100% / 3);position: absolute;}
.box{background-color: #fff;}
.box-img{width: 100%;overflow: hidden;cursor: pointer;margin-bottom: 28px;}
.box-img img{width: 100%;transition: all .5s ease;}
.box-img:hover img{transform: scale(1.02);}
.box-content{
    padding: 13px 50px 49px 38px;
}
.box-link{
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 69px 38px 69px 45px;
    background-color: #c74817;
}
.link-rlt{position: relative;}
.box-link-icon {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 32px;
    height: 1em;
    font-size: 44px;
    line-height: 1em;
    font-weight: 300;
    color: #fff;
}
.box-link > .box-time{ margin: 7px 0;}
.box-link > .box-time , .box-link > .box-header > h4{color: #fff;}
.box-time > a:hover{color: unset;}
.box-header > h4 > a:hover{color:#c74817 ;}
.box-time{
    color: #c74817;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 25px;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 700;
}
.box-text{
    margin-top: 17px;
    font-size: 15px;
    line-height: 24px;
    color: #5b5858;
}
#box-absolute-one,#box-absolute-four,#box-absolute-seven{left: 0;}
#box-absolute-two,#box-absolute-five,#box-absolute-eight{left: calc(100%/3);}
#box-absolute-three,#box-absolute-six,#box-absolute-nine{left: calc(100%/3 *2);}
/* footer */
.footer{
    width: 100%;
    background-color: #d3a863;
    position: relative;
}
.inFooter{
    padding: 155px 0 46px;
    width: 100%;
    margin: 0 auto;
}
.footer-text{padding: 0 15px;}
.ft-detail{
    margin-top: 25px;
    display: flex;
    align-items:baseline;
}
.ft-detail:last-child .ft-icon i{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.ft-detail:not(:last-child) > .ft-icon i{
    font-size: 18px;
    transform: rotate(-90deg);
    margin-right: 10px;
    cursor: pointer;
}
.ft-text a{transition: all .5s ease;}
.ft-text a:hover{color: unset;}
.ft-detail:hover a{color: #720202;}
.ft-products{ margin-top: 10px;}
.ft-news > .ft-detail{flex-direction: column;}
.ft-news > .ft-detail > h5{font-size: 22px;}
.span-news{
    color: #c74817!important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 25px;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 700;
}
.ft-logo{
    width: 170px;
    height: 170px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: inherit;
    top: -45px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    line-height: 163px;
}
.ft-logo img{
    width: auto;
    height: 116px;
    object-fit: cover;
    vertical-align: middle;
}
.ft-img{
    width: 100%;
    bottom: 0;
}
.page-ft-icon{
    width: 50%;
    margin: 50px auto 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.ft-img-logo{margin-top: 36px;}
.ft-img-logo p{margin: 10px 0;font-size: 12px;}
.ft-img img{width: 100%;}
.page{
    position: relative;
    margin: 0 3px;
    font-size: 18px;
    font-weight: 700;
    background-color: #c74817;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 35px;
    display: inline-block;
    font-family: "Open Sans Condensed",sans-serif;
    -webkit-transition: .35s ease-out;
    -o-transition: .35s ease-out;
    transition: .35s ease-out;
    cursor: pointer;
    transition: all .3s ease;
}
.page:hover{background-color:rgb(173, 60, 16);}
.page:hover .bx{color: #fff!important;}
.page .bx{
    display: block;
    line-height: unset!important;
    color: white;
}
/* back to top */
.backToTop{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 2%;
    bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0;
    justify-content: center;
    color: #fff;
    background-color: #c74817;
    transition: all .3s ease;
}
.upIcon{transition: all .5s ease;}
.active_back{opacity: 1;pointer-events: all;}
.active_back:hover .upIcon{transform: translateY(-2px);}
.active_back:hover{background-color:  #720202;}
@media(max-width:1367px){
    .dr-lastChild{
        right: 100%;
        left: unset;
    }
    
    .lastChild a span{order: 2;}
    .lastChild .md.hydrated{transform: rotate(180deg);}
}
@media(max-width:1230px){
    .page-ft-icon{
        position: unset;
        transform: unset;
    }
}
@media(max-width:1200px){
    .row-container{height: 1500px;}
}
@media(max-width:1100px){
    .grid-system{width: auto;}
}
@media(max-width:1024px){
}
@media(max-width:1023px){
    .menu-mobile{display: block;}
    .banner{height: 200px;}
    .menu-bar{display: block;}
    .header-pc{height: 70px;}
    .header-sticky{display: none;}
    .header .img{height: 34px;}
    .header{width: 90%!important;margin:0 auto;justify-content: space-between;}
    .top-menu{display: none;}
    .shopping-cart{display: none;}
    .inFooter {
        width: 86%;
        padding: 155px 0 46px;
        margin: 0 auto;
    }
    .inFooter > .col-3{ width: 50%;}
    .footer-text {padding-bottom: 71px;}
    .ft-img,.ft-icon-social{margin-top: -71px;}
}
@media(max-width:991px){
}
@media(max-width:768px){
    .img{width: 25%;}
    .img img{display: unset;object-fit: unset;height: auto;}
    .box-margin{width: 50%;position: unset!important;}
    .row-container{height: auto;}
}
@media(max-width:679px){
    .inFooter > .col-3 {width: 100%;}
    .footer-text:last-child {padding-bottom: 0;}
    .box-margin{width: 90%;margin: 0 auto 20px auto;position: unset!important;}
    .row-container{height: auto;}
}
@media(max-width:576px){
    .row{margin: 0;}
}
@media(max-width:364px){
    .ft-img{margin-top: 0!important;}
}
